* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.6rem;
}

header {
    color: #fff;
    background-color: #728308;
    padding: 2rem 0;
    text-align: center;
    /*  fixed positioning  */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header h1 {
    border: .8rem solid white;
    /*Explain difference btw inline & inline-block*/
    display: inline-block;
    padding: .6rem 1.2rem;
    border-radius: 3.6rem;
}

/* SECTION - BANNER */
.banner {
    position: relative;
}

/* Banner Image */
.banner img {
    /* To cover the entire section */
    display: block;
    width: 100%;
}

.banner .welcome {
    font-size: 6rem;
    padding: 3rem;
    position: absolute;
    left: 0;
    top: 30%;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .welcome span {
    font-size: 1.5em;
}

/* Navigation Links */

nav {
    background: #f4f4f4;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 2rem;
    padding: .5rem 6rem;
}

nav li a {
    text-decoration: none;
    color: #4b4b4b;
}

nav li a:hover {
    text-decoration: underline;
}

nav li a.join {
    color: #728308;
}

/* Main Section */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

article h2 {
    color: #728308;
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

article p {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #4b4b4b;
}

article p::first-line {
    font-weight: 600;
    font-size: 2rem;
}

article p::selection {
    background: #728308;
    color: #fff;
}
/* SECTION - IMAGES */
section.images {
    text-align: center;
}

section.images img {
    width: 32rem;
    margin: 0 1rem;
    vertical-align: middle;
    transition: all .2s ease-in-out;
}

section.images img:hover {
    transform: scale(1.25);
}

/* Need to go back and make nav links sticky */